{# --- LOT DETAILS AND CLAIM --- #}

{# Non-member specific block/lot section #}
{% if registration.category == 'non_member' and lot_dispute and lot_dispute.block_lot %}
  <div id="nonMemberBlockLotSection">
    <p>What is the specific block and lot involved in the lot dispute?</p>
    <div class="pairs" id="pairsContainer" aria-live="polite">
      {% for pair in lot_dispute.block_lot %}
        <div class="pair-row">
          <div class="col">
            <label class="small">Block No.</label>
            <input type="text" value="{{ pair.block }}" readonly title="Block No." placeholder="Block No.">
          </div>
          <div class="col">
            <label class="small">Lot No.</label>
            <input type="text" value="{{ pair.lot }}" readonly title="Lot No." placeholder="Lot No.">
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}


{% for field in form_structure %}
  {% if field.name in ['q1','q2','q3','q4','q5','q6'] %}
    <div class="field-block">
      <p>{{ field.label }}</p>
      {% set value = answers.get(field.name) %}

      {% if field.type == 'radio' and field.name == 'q1' %}
        {% set selected = value|string|trim|lower %}
        <div class="radio-group">
          {% set q1_options = [
            ('Official assignment by NGCHDP/NHA', 'I was officially assigned the lot by NGCHDP/NHA'),
            ('Passed on by a family member', 'The lot was passed on to me by a family member'),
            ('Purchased from another occupant', 'I purchased the lot from another occupant'),
            ('Living since project started', 'I have been living here since the NCC project started'),
            ('Relocated after demolition/displacement', 'I relocated here after demolition/displacement elsewhere'),
            ('Verbal promise by former officer/neighbor', 'I was verbally promised the lot by a former officer or neighbor')
          ] %}
          {% for val, label in q1_options %}
            {% set norm_val = val|string|trim|lower %}
            {% set norm_label = label|string|trim|lower %}
            <label class="option">
              <input type="radio" disabled {% if selected == norm_val or selected == norm_label %}checked{% endif %}> {{ label }}
            </label>
          {% endfor %}
        </div>

      {% elif field.type == 'radio' %}
        {% set selected = value|string|trim|lower %}
        <div class="radio-group">
          {% for val, label in field.options %}
            {% set norm_val = val|string|trim|lower %}
            {% set norm_label = label|string|trim|lower %}
            <label class="option">
              <input type="radio" disabled {% if selected == norm_val or selected == norm_label %}checked{% endif %}> {{ label }}
            </label>
          {% endfor %}
        </div>

      {% elif field.type == 'checkbox' %}
        {% set selected = value if value is iterable and value is not string else [value] %}
        <div class="checkbox-group">
          {% for val, label in field.options %}
            {% set checked = (val in selected) or (label in selected) %}
            <label class="option">
              <input type="checkbox" disabled {% if checked %}checked{% endif %}> {{ label }}
            </label>
          {% endfor %}
        </div>

      {% elif field.type == 'date' %}
        <input type="date" value="{{ answers[field.name] }}" disabled title="{{ field.label }}" aria-label="{{ field.label }}" style="width: 20%;">
      {% endif %}
    </div>
  {% endif %}
{% endfor %}


{# --- PERSONS INVOLVED DETAILS --- #}
<div class="section-header">PERSONS INVOLVED DETAILS</div>

{% set persons_fields = ['q7','q8','q10','q9'] %}
{% for fname in persons_fields %}
  {% set field = (form_structure | selectattr('name', 'equalto', fname) | list)[0] %}
  <div class="field-block">
    <p>{{ loop.index }}. {{ field.label
      |replace('7. ', '')
      |replace('8. ', '')
      |replace('9. ', '')
      |replace('10. ', '') }}</p>

    {% set value = answers.get(field.name) %}

    {% if field.name == 'q9' %}
      {# --- Normalize claim value --- #}
      {% set raw_claim = value.get('claim', '') %}
      {% set claim = '' %}
      {% if raw_claim is string %}
        {% set claim = raw_claim|trim|lower %}
      {% elif raw_claim is number %}
        {% if raw_claim == 1 %}
          {% set claim = 'yes' %}
        {% elif raw_claim == 0 %}
          {% set claim = 'no' %}
        {% else %}
          {% set claim = raw_claim|string %}
        {% endif %}
      {% elif raw_claim is boolean %}
        {% if raw_claim %}
          {% set claim = 'yes' %}
        {% else %}
          {% set claim = 'no' %}
        {% endif %}
      {% else %}
        {% set claim = raw_claim|string|trim|lower %}
      {% endif %}

      {% set documents = value.get('documents', []) if value else [] %}

      <div class="radio-group">
        {% for val, label in field.options %}
          {% set norm_val = val|string|trim|lower %}
          {% set norm_label = label|string|trim|lower %}
          {% set checked = claim == norm_val or claim == norm_label %}
          <div class="radio-option">
            <label class="option">
              <input type="radio" disabled {% if checked %}checked{% endif %}> {{ label }}
            </label>

            {# --- Show documents list immediately under "Yes" --- #}
            {% if norm_val in ['yes', 'true', '1'] %}
              {% set show_docs = claim in ['yes', 'true', '1', 'i have documents', 'have documents'] %}
              {% if show_docs and documents %}
                <div class="checkbox-group" style="margin-left: 1.5rem; margin-top: 0.5rem;">
                  <p style="margin-bottom: 0.25rem; margin-left: 15px;">Documents they have:</p>
                  {% for val2, label2 in field.conditional.additional_fields[0].options %}
                    {% set checked_doc = false %}
                    {% if documents is iterable and documents is not string %}
                      {% if val2 in documents or label2 in documents %}
                        {% set checked_doc = true %}
                      {% endif %}
                    {% else %}
                      {% set docs_s = documents|string|trim %}
                      {% if docs_s and (val2 in docs_s or label2 in docs_s) %}
                        {% set checked_doc = true %}
                      {% endif %}
                    {% endif %}
                    <label class="option">
                      <input type="checkbox" disabled {% if checked_doc %}checked{% endif %}> {{ label2 }}
                    </label>
                  {% endfor %}
                </div>
              {% endif %}
            {% endif %}
          </div>
        {% endfor %}
      </div>

    {% elif field.name == 'q10' %}
      {% set selected = value.get('reside', '')|lower %}
      <div class="radio-group">
        {% for val, label in field.options %}
          {% set checked = selected == val|lower or selected == label|lower %}
          <label class="option">
            <input type="radio" disabled {% if checked %}checked{% endif %}> {{ label }}
          </label>
        {% endfor %}
      </div>

    {% elif field.type == 'multiple_text' %}
      {% set multi = value if value is iterable and value is not string else [value] %}
      {% for item in multi %}
        <input type="text" value="{{ item }}" readonly style="margin-bottom:4px;">
      {% endfor %}
    {% endif %}
  </div>
{% endfor %}


{# --- FINAL DESCRIPTION --- #}
<p class="section-label" style="color: black; font-weight: normal;">
  Please describe what happened briefly, including how you found out about the issue.
</p>
<textarea readonly>{{ answers.get('description', '') }}</textarea>
