* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #d9e9f5;
  font-family: 'Segoe UI', sans-serif;
}

.header {
  position: absolute;
  top: 30px;
  left: 40px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  width: 40px;
  height: auto;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

a{
  text-decoration: none;
}

.blue-text {
  color: #1a33a0;
}

.green-text {
  color: #4caf50;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  width: 800px;
  height: 480px;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.15);
  padding: 25px;
  align-items: center;
}

.login-title {
  font-size: 20px;
  font-weight: 700;
  margin-top: 25px;
  margin-bottom: 25px;
  color: #03045E;
  letter-spacing: 1px;
  text-align: center;
}

input {
  border: none;
  outline: none;
  font-size: 16px;
  flex: 1;
}

.input-wrapper {
  width: 100%;
  max-width: 400px; /* controls the compact width */
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
}

.input-group {
    border: 2px solid transparent;
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 8px 12px;
    margin-bottom: 20px;
    font-size: 16px;
}

.blue-group {
  border: 2px solid #1a33a0;
}

.black-group {
    border: 2px solid #000000;
}

.shadow-group{
    background: white;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
}

.agreement-text {
  color: #333;
  margin-bottom: 20px;
    font-size: 14px;
    text-align: center;
}

.agreement-text a {
  color: #1a33a0;
  text-decoration: none;
  font-weight: 500;
}

i {
  font-size: 18px;
  margin-right: 10px;
  color: #646464;
}

.blue-input::placeholder {
  color: #007DFB;
  font-weight: bold;
}

.black-input::placeholder {
  color: #000;
  font-weight: bold;
}

.shadow-input::placeholder{
    color: #000;
    font-weight: bold;
}

.btn-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.login-btn {
    background-color: #1a33a0;
    color: white;
    border: none;
    padding: 10px 0;
    font-weight: bold;
    font-size: 14px;
    border-radius: 4px;
    width: 150px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
  margin-bottom: 20px;
}